.blog-list {
	.item {
		display: flex;
		gap: 15px;
		.title {
			font-size: 1.275rem;
			font-weight: 400;
		}
		img {
			margin: 0px 0px 15px;
			width: 20%;
			height: 20%;
			box-shadow: 3px 3px 3px 3px #000;
		}
		.item-body {
			margin-top: -10px;
		}
		.more-link {
			display: inline-block;
		}
		.title,
		.meta,
		.intro,
		.more-link {
			margin-top: 5px;
		}
		.meta {
			color: lighten($color: $primary-color, $amount: 50);
			font-size: 0.8125rem;
			span:after {
				content: '';
				display: inline-block;
				width: 3px;
				height: 3px;
				margin-left: 0.5rem;
				margin-right: 0.5rem;
				position: relative;
				top: -3px;
				border-radius: 50%;
				background: lighten($color: $primary-color, $amount: 50);
			}
			span:last-child {
				&:after {
					display: none;
				}
			}
		}
	}
}
@mixin blog-m {
	.blog-list {
		.item {
			img {
				display: none;
			}
			.item-body {
				margin-top: 0;
			}
		}
	}
}
