nav {
  position: fixed;
  z-index: 2;
  width: 100%;
  .menu-btn {
    position: fixed;
    z-index: 3;
    right: 1.6em;
    top: 1em;
    cursor: pointer;
    @include easeOut;

    .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: setTextColor($primary-color);
      @include easeOut;
    }
    &.close {
      transform: rotate(180deg);
      .btn-line {
        &:nth-child(1) {
          transform: rotate(45deg) translate(5px, 5px);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translate(7px, -6px);
        }
      }
    }
  }

  .menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;
    &.show {
      visibility: visible;
    }

    &-branding,
    &-nav {
      display: block;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      float: left;
      width: 50%;
      height: 100vh;
      overflow: hidden;
    }
    &-nav {
      background: darken($primary-color, 5);
      list-style: none;
      text-align: center;
      transform: translate3d(0, -100%, 0);
      @include easeOut;
      &.show {
        transform: translate3d(0, 0, 0);
      }
    }

    &-branding {
      background: $primary-color;
      @include easeOut;
      transform: translate3d(0, 100%, 0);
      &.show {
        transform: translate3d(0, 0, 0);
      }
      .portrait {
        width: 15.625rem;
        height: 15.625rem;
        background: $portrait-image;
        border-radius: 50%;
        text-align: center;
        border: $secondary-color solid 3px;
      }
    }

    .nav-item {
      @include easeOut;
      margin-right: 7rem;

      transform: translate3d(600px, 0, 0);
      &.show {
        transform: translate3d(5ch, 0.4in, 5em);
      }
    }

    .menu-nav li a {
      display: block;
      position: relative;
      font-size: 1.875em;
      text-transform: uppercase;
      font-weight: $font-weight-light;
      color: setTextColor($primary-color);
      text-align: center !important;
      margin: 1rem;
      @include easeOut;
      &.current-menu,
      &:hover {
        color: $secondary-color;
      }
    }
  }
  @for $i from 1 through 7 {
    .nav-item:nth-child(#{$i}) {
      transition-delay: $i * 0.1s;
    }
  }
}
.menu-nav li a {
  margin-top: 5em;
}

.menu-branding .portrait,
.site-search__box {
  margin-top: 10em;
}
@mixin nav-menu-s {
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  .menu-nav {
    height: 70vh !important;
    transform: translate3d(-100%, 0, 0);
  }
  .menu-branding {
    height: 30vh !important;
    transform: translate3d(100%, 0, 0);
    .portrait {
      background: $portrait-small !important;
      width: 9rem !important;
      height: 9rem !important;
    }
  }

  .menu-nav li a {
    margin-top: 0;
  }

  .menu-branding .portrait,
  .site-search__box {
    margin-top: 1.5em;
  }
  .menu-branding .portrait {
    margin-left: 30%;
  }
}
