blockquote {
  background: lighten($primary-color, 5);
  padding: 0.8rem 1.5rem;
  border-left: $secondary-color 5px solid;
  font-style: italic;
  // position: relative;
  // left: 15%;
  // max-width: 100%;
  cite {
    margin-top: 1rem;
    display: block;
  }
}
