select {
	appearance: none;
	outline: 0;
	border: 0;
	box-shadow: none;
	flex: 1;
	padding: 0 1em;
	color: $white-color;
	background-color: lighten($primary-color, 7);
	background-image: none;
	cursor: pointer;
}
select::-ms-expand {
	display: none;
}
.category {
	position: relative;
	display: flex;
	height: 3em;
	border-radius: 0.25em;
	overflow: hidden;
	margin-bottom: 1rem;
	&::after {
		content: '\25BC';
		position: absolute;
		top: 0;
		right: 0;
		padding: 1em;
		background-color: $gray-900;
		transition: 0.25s all ease;
		pointer-events: none;
	}
	&:hover::after {
		color: $secondary-color;
	}
}
