.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(2, 1fr);
}
.projects img,
.projects iframe {
  width: 100%;
  border: 3px $white-color solid;
}
.btn,
.btn-dark,
.btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}
.btn:hover,
.btn-dark:hover,
.btn-light:hover {
  background: $secondary-color;
  color: $black-color;
}

.btn-dark {
  background: $black-color;
  color: $white-color;
}

.btn-light {
  background: $gray-300;
  color: $primary-color;
}

.img-overlay {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: $black-color;
}

.img-overlay:hover .overlay,
.projects iframe:hover {
  opacity: 0.7;

  transition: all 0.5s ease-out;
  border: 3px $secondary-color solid;
}

.text {
  color: $white-color;
  font-size: 1.5rem;
  background: $red-color;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  font-weight: $font-weight-bold;
  transform: translate(-50%, -50%);
  text-align: center;
}
// @media screen and (min-width: 1171px) {
//   .projects {
//     grid-template-columns: repeat(2, 1fr);
//   }
// }

// @media screen and (min-width: 769px) and (max-width: 1170px) {
//   .projects {
//     grid-template-columns: repeat(2, 1fr);
//   }
// }

@media screen and (max-width: 768px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .projects {
    grid-template-columns: 1fr;
  }
}
