Options +Includes 
AddType text/html .html
AddHandler server-parsed .html
AddOutputFilter INCLUDES .html
DirectoryIndex index.shtml index.html index.htm index.php


#http://httpd.apache.org/docs/2.0/misc/rewriteguide.html

RewriteEngine On
RewriteBase /

#redirect .html to non
RewriteCond %{THE_REQUEST} \.html
RewriteRule ^(.*)\.html$ /$1 [R=301,L]

#Remove trailing slash
RewriteRule ^(.+)/$ /$1 [NE,R=301,L]

#redirect index.html to root
RewriteRule ^index.html$ / [NC,R,L]

#Remove .html extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [NC,L] [END]

ErrorDocument 404 /404.html

#Cache css file

#ExpiresActive On
#ExpiresDefault “access plus 8 hours”

#ExpiresByType text/html “access plus 1 hours”
#ExpiresByType text/xml “access plus 2 hours”

#ExpiresByType text/css “access plus 3 hours”

#ExpiresByType text/plain “access plus 4 hours”
#ExpiresByType application/x-httpd-php “access plus 5 hours”

#ExpiresByType application/x-javascript “access plus 6 hours”

#ExpiresByType application/pdf “access plus 7 hours”
#ExpiresByType image/gif “access plus 8 hours”
#ExpiresByType image/png “access plus 9 hours”
#ExpiresByType image/jpeg “access plus 10 hours”
#ExpiresByType image/x-icon “access plus 11 hours”

#Remove .html extension
#RewriteEngine on
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(.*)$ $1.html [NC,L] [END]


#If you want to redirect all index.html(s) to their roots, then try this code -
#RewriteEngine On
#RewriteRule ^index.html$ / [R=301,L]
#RewriteRule ^(.*)/index.html$ /$1/ [R=301,L]