.star-rating {
	margin: 0.5em auto;
	svg {
		fill: $bs-primary;
	}
}
.typist {
	display: flex;
	justify-content: center;
	align-items: center;
	// z-index: 2;
}
.typist div {
	padding: 0.5rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	text-align: center;
	overflow: hidden;
}
.typist div span.typed-text,
.blog-grama {
	font-weight: bold;
	color: rgba(0, 0, 0, 0.5);
}

.typist div span.cursor {
	display: inline-block;
	background-color: $bs-white;
	margin-left: 0.1rem;
	width: 3px;
	animation: blink 1s infinite;
}
.typist div span.cursor.typing {
	animation: none;
}
@keyframes blink {
	0% {
		background-color: $bs-white;
	}
	49% {
		background-color: $bs-white;
	}
	50% {
		background-color: transparent;
	}
	99% {
		background-color: transparent;
	}
	100% {
		background-color: $bs-white;
	}
}
.me-link {
	color: rgba(0, 0, 0, 0.5);
}
#top-btn {
	all: unset;
	position: fixed;
	bottom: 3rem;
	right: 2.5rem;
	cursor: pointer;
	transform: scale(1.8);
	opacity: 0;
	transition: 0.3s;
	svg {
		fill: $bs-primary;
		width: 1rem;
		height: 1rem;
	}
}
