#main-footer {
  text-align: center;
  padding: 0.9rem;
  background: $gray-900 !important;
  // background: darken($primary-color, 10);
  color: SetTextColor($primary-color);
  height: 3em;
}
header {
  text-align: center;
  padding: 0.9rem;
  background: $gray-900 !important;
  // background: darken($primary-color, 10);
  color: SetTextColor($primary-color);
  height: 3em;
  top: 0;
  position: fixed;
  width: 100%;
}
