<script>
  function openExternalLinksInNewTab() {
    // Get all <a> elements on the page
    const allLinks = document.getElementsByTagName('a');

    // Loop through all <a> elements
    for (let i = 0; i < allLinks.length; i++) {
      // Check if the link's hostname is different from the current hostname
      if (allLinks[i].hostname !== window.location.hostname) {
        // Set the target attribute to '_blank' for external links
        allLinks[i].setAttribute('target', '_blank');
      }
    }
  }

  // Call the function when the page loads
  window.onload = openExternalLinksInNewTab;
</script>
<script src="{{ site.url }}/assets/js/site-min.js?v=2" defer></script>
<script src="{{ site.url }}/assets/lib/prism-dark.js?v=2" defer></script>
