.sun-moon {
  margin-top: -2rem;
  position: absolute;
  width: 100px;
  height: 36px;
  padding: 5px;
  left: 15%;
  border-radius: 45px;
  border: 3px solid #000;
  background-color: #000;
  overflow: hidden;
  transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  .circle {
    border-radius: 50%;
    display: inline-block;
    position: absolute;
  }
  .small {
    width: 25px;
    height: 25px;
    background: #000;
    left: 15px;
    top: -3px;
    transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    &::after {
      content: '\2605';
      margin-left: 0.25em;
      color: $secondary-color;
    }
  }
  .large {
    width: 30px;
    height: 30px;
    background: $white-color;
    border: 3px solid $white-color;
    top: 50%;
    transform: translateY(-50%);
    left: 7px;
    transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }

  input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
  }
}
//Change the background color
.move {
  background-color: #fff;
  border-color: #f3909a;
  //Move the bigger circle
  .large {
    left: 60px;
    background: $secondary-color;
    // border-color: tomato;
    border: 3px #fff dashed;
  }

  //Move the smaller circle
  .small {
    left: 60px;
    top: 50px;
    background-color: #fff;
  }
}

// @mixin responsiveness {
//   .sun-moon {
//     .small {
//       &::after {
//         margin-left: 14px;
//       }
//     }
//   }
// }
