.mt-3{
	margin-top: 1rem !important;
}
.mt-4{
	margin-top: 1.5rem !important;
}
.mb-3 {
	margin-bottom: 1rem !important;
}
.mr-3{
	margin-right: 1rem !important;
}
.mr-4{
	margin-right: 1.5rem !important;
}
.m-4 {
	margin: 1.5rem !important;
}
.mt-4 {
	margin-top: 1.5rem !important;
}
.mr-4 {
	margin-right: 1.5rem !important;
}
.mb-4 {
	margin-bottom: 1.5rem !important;
}
.ml-4 {
	margin-left: 1.5rem !important;
}
.m-5 {
	margin: 3rem !important;
}
.p-1 {
	padding: 0.25rem !important;
}
.pt-1,
.py-1 {
	padding-top: 0.25rem !important;
}
.pr-1 {
	padding-right: 0.25rem !important;
}
.pb-1 {
	padding-bottom: 0.25rem !important;
}
.pl-1 {
	padding-left: 0.25rem !important;
}
.p-2 {
	padding: 0.5rem !important;
}
.pt-2 {
	padding-top: 0.5rem !important;
}
.pr-2 {
	padding-right: 0.5rem !important;
}
.pb-2,
.py-2 {
	padding-bottom: 0.5rem !important;
}
.pl-2 {
	padding-left: 0.5rem !important;
}
.p-3 {
	padding: 1rem !important;
}
.pt-3 {
	padding-top: 1rem !important;
}
.pr-3 {
	padding-right: 1rem !important;
}
.pb-3,
.py-3 {
	padding-bottom: 1rem !important;
}
.pl-3 {
	padding-left: 1rem !important;
}
.p-4 {
	padding: 1.5rem !important;
}
.pt-4 {
	padding-top: 1.5rem !important;
}
.pr-4 {
	padding-right: 1.5rem !important;
}
.pb-4 {
	padding-bottom: 1.5rem !important;
}
.pl-4 {
	padding-left: 1.5rem !important;
}
.d-flex, .d-flex2{
	display: flex;
}