
#about {
	padding: 4rem 0 0 0;
	.bio-image {
		border-radius: 50%;
		border: $secondary-color 3px solid;
		height: 100%;
		width: 100%;
		// position: relative;
		// z-index: 1;
		// top: -5rem;
	}
	.bio-banner{
		height: 150px;
		border-radius: 0.8rem 0.8rem 0 0;
		z-index: 1;
		position: relative;
		float: right;
	}
}