#contact {
  overflow: hidden;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}
.boxes div {
  font-size: 2rem;
  border: 3px $white-color solid;
  padding: 1.5rem 2.5rem;
  margin-bottom: 3rem;
  @include easeOut();
}
.boxes div:hover {
  padding: 0.5rem 1.5rem;
  background: $secondary-color;
  color: $primary-color;
}
.boxes div:hover span {
  color: $primary-color;
}

// @media (max-width: 480px) {
//   #contact {
//     overflow: visible;
//   }
// }
