.facebook {
  background: #3b5998;
}

.twitter {
  background: #55acee;
}
.linkedin {
  background: #0077b5;
}
.whatsapp {
  background: #25d366;
}
.pinterest {
  background: #bb0000;
}

.social-icons {
  // margin-left: 1.875em;
  a {
    padding: 0.4rem;
  }
  a svg {
    fill: $white-color;
    width: 26px;
    height: 26px;

    &:hover {
      fill: $secondary-color;
      @include easeOut;
    }
  }
}
// Sticky Social Buttons
.social-btn_sticky {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  svg {
    width: 20px;
    height: 20px;
  }
  a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: $white-color;
    font-size: 20px;
    &:hover {
      background-color: $black-color;
      @include easeOut;
    }
  }
}

// Sticky Social Buttons
// Mobile Social
#share {
  width: 100%;
  margin: 10px auto;
  text-align: center;
  a {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    font-size: 24px;
    color: $white-color;
    opacity: 0.75;
    transition: opacity 0.15s linear;
    &:hover {
      opacity: 1;
      @include easeOut;
    }
  }
  svg {
    position: relative;
    top: 35%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
  }
}

// Mobile Social
