Options +Includes 
AddType text/html .html
AddHandler server-parsed .html
AddOutputFilter INCLUDES .html
DirectoryIndex index.shtml index.html index.htm index.php


#http://httpd.apache.org/docs/2.0/misc/rewriteguide.html

RewriteEngine on
RewriteBase /
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.+)/$ /$1 [NE,R=301,L]
#RewriteCond %{REQUEST_FILENAME}.html -f

#RewriteRule ^(.*)$ $1.html [NC,L] [END]

ErrorDocument 404 /404.html

#Remove .html extension
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ $1.html [NC,L] [END]

